.content {
  margin-top: -520px;
}
.noice-container {
  max-width: 1440px;
  background-image: url('../images/Noise.png');
  background-size: 100%;
  margin: 0 auto;
}
.content-container {
  width: 1290px;
  margin: 0 auto;
  img {
    width: 100%;
  }
  position: relative;
}
.profile-score {
  position: absolute;
  top: 220px;
  left: -80px;
}
.developer-quiz {
  position: absolute;
  top: 420px;
  left: -80px;
}
.process {
  position: absolute;
  top: 290px;
  right: -90px;
}
.questions {
  position: absolute;
  top: 520px;
  right: 25px;
}
@media only screen and (max-width: 1452px) {
  .process {
    right: -50px;
  }
  .profile-score {
    left: -30px;
  }
  .developer-quiz {
    left: -30px;
  }
}
@media only screen and (max-width: 1290px) {
  .content-container {
    margin: unset;
    position: relative;
    left: calc(95% - 1290px);
  }
  .process {
    right: -10px;
  }
  .profile-score {
    left: 5%;
  }
  .developer-quiz {
    left: 5%;
  }
}
@media only screen and (max-width: 1200px) {
  .profile-score {
    top: 140px;
    left: auto;
    right: -20px;
  }
  .developer-quiz {
    display: none;
  }
  .questions {
    display: none;
  }
  .process {
    right: -25x;
    top: 380px;
  }
}

@media only screen and (max-width: 442px) {
  .content {
    display: none;
  }
}
