$MainGreen: #85ffb2;
$nearBlack: #101010;
$gray: #444444;
$lightGray: #757575;
$StrokeColorOnLightBG: #f1f1f1;
$white: #ffffff;
$linearLightBG: linear-gradient(
  180deg,
  rgba(253, 255, 246, 0) 0%,
  #fdfff6 100%
);

$mainFont: 'Inter';
